{% extends 'core/base.html' %}
{% block title %}Insturctor Dashboard{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
    <h1>sa hocammm</h1>
    <a class="btn btn-primary" href="{% url 'exam_list' %}">Exams</a>
    <a class="btn btn-primary" href="#">Questions</a>
    <a class="btn btn-primary" href="#">Answers</a>
    <a class="btn btn-primary" href="#">Students</a>
    <!-- my exams - exam list view
    my questions - question list view
    my answers - student & their answers
    my students - list view -->


{% endblock %}