{% extends 'core/base.html' %}
{% block title %}Exam List{% endblock %}

{% block css %}

{% endblock %}

{% block body %}
<h2>Current Exams</h2>
<table class="table">
    <thead >
        <tr>
            <td style="width: 60%;">
                Exam Name
            </td>
            <td>
                Start Date
             </td>
             <td>
                End Date
             </td>
        </tr>
    </thead>
    <tbody>
        {% for exam in active_exams %}
            <tr>
                <td style="width: 60%;">
                    <a href="{% url 'student_exam_detail' exam.pk %}" >{{exam.name}}</a>
                </td>
                <td >
                    {{exam.start_date}}
                </td>
                <td>
                    {{exam.end_date}}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>


<hr/>

<h2>Past Due Exams</h2>
<table class="table">
    <thead >
        <tr>
            <td style="width: 60%;">
               Exam Name
            </td>
            <td>
                Start Date
             </td>
             <td>
                End Date
             </td>
        </tr>
    </thead>
    <tbody>
        {% for exam in passive_exams %}
            <tr>
                <td style="width: 60%;">
                    <a href="{% url 'student_exam_detail' exam.pk %}" >{{exam.name}}</a>
                </td>
                <td >
                    {{exam.start_date}}
                </td>
                <td>
                    {{exam.end_date}}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}